[Unit]
Description=PosBah Go Backend Service
After=network.target

[Service]
Type=simple
User=muizz9900
WorkingDirectory=/home/muizz9900
Environment=PORT=3000
Environment=SMTP_HOST=smtp.gmail.com
Environment=SMTP_PORT=587
Environment=SMTP_USER=muhammadmuizz8@gmail.com
Environment=SMTP_PASS=mrdtcnhmdcglfwko
Environment=SMTP_SENDER=muhammadmuizz8@gmail.com
ExecStart=/home/muizz9900/posbah-backend
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
